Projecto IS 1/TestesIS/src/Medalhas.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mundo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pais" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="modalidades">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="modalidade" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="pessoa" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="nome" use="optional"/>
                                  <xs:attribute type="xs:string" name="tipo" use="optional"/>
                                  <xs:attribute type="xs:string" name="medalha" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="nome" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="nome"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="ouro" use="optional"/>
            <xs:attribute type="xs:byte" name="prata" use="optional"/>
            <xs:attribute type="xs:byte" name="bronze" use="optional"/>
            <xs:attribute type="xs:string" name="abreviatura" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>